<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Refresh" content="5;url={{url_for('main')}}">
    <title>Access Denied</title>
</head>
<body style="text-align: center;">
    <div style="width:800px; margin:auto;text-align: left;">
        <h1>
            You are not allowed to enter this page. You will be redirected to the Welcome Page in 5 seconds.
        </h1>
        <h1>
            Or you can go there by clicking <a href="{{url_for('main')}}">there</a>
        </h1>
    </div>
</body>
</html>