<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      var nIntervId;
      function refresh() {
      nIntervId = setInterval(get_messages, 20000);
      }
      function get_messages() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_notification",
                function(data) {
                    $("#messages").text(data.message)

                });
        }
    </script>
    <style>
        div#messages {
        width:80%;
        padding:15px;
        font-size:1.2em;
        <!--border: 1px solid black;-->
        <!--background-color:#90EE90;-->
        color:#0000FF;
        margin: auto;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body onload="refresh();">
<div align="center" id="messages"></div>
{% block body %}{% endblock %}
</body>
</html>