{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title></title>
    <style>
        table{
        margin: 3pt;
        }
        th{
        width:225px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #034569;
        color:white;
        }
        td {
        width:225px;
        height:225px;
        text-align: center;
        border: 1px solid #ddd;
        }
        input.topButtons[type=submit] {
        font-size: 1em;
        font-family: Verdana, sans-serif;
        width:170px;
        height:40px;
        color: white;
        padding: 5px 10px;
        margin: 5px 10px;
        border-style: outset;
        border-color: #000;
        background: #64AAD0;

        }
        input.topButtons[type=submit]:hover{
        background: #034569;
        }

        input.operation[type=submit] {
        font-size: 0.9em;
        font-family: Verdana, sans-serif;
        width:120px;
        height:30px;
        color: white;
        padding: 5px 10px;
        margin: 5px 10px;
        border-style: outset;
        border-color: #000;
        background: #034569;
        }
    </style>
{% endblock %}
{% block body %}
<h1 align="center" id="top">{{truck_username}}</h1>
<br>
<div align="center">
    <div style="display: inline-block;">
        <form action="{{url_for('customer_home', customer_name=customer_name)}}"
              method="get">
            <input type='submit' value='Back to Truck List' class="topButtons" />
        </form>
    </div>
    <div style="display: inline-block;">
        <form action="{{url_for('my_history_orders', customer_name=customer_name)}}"
              method="get">
            <input type='submit' value='History Orders' class="topButtons" />
        </form>
    </div>
    <div style="display: inline-block;">
        <form action="{{url_for('my_ongoing_orders', customer_name=customer_name)}}"
              method="get">
            <input type='submit' value='Ongoing Orders' class="topButtons" />
        </form>
    </div>
    <div style="display: inline-block;">
        <form action="{{url_for('logout')}}" method="get">
            <input type='submit' value='Log out' class="topButtons" />
        </form>
    </div>
    <br>
    <table>
        <thead>
        <th>Dish Name</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Order</th>
        </thead>
        {% for dish in dishes %}
            <tr>
                <td>{{dish['dish_name']}}</td>
                <td>{{dish['price']}}</td>
                <td>
                    <img src="https://delicious-dishes.s3.amazonaws.com/{{truck_username}}/{{dish['img_filename']}}"
                                 alt="https://delicious-dishes.s3.amazonaws.com/{{truck_username}}/{{dish['img_filename']}}"
                                 style="width:120px;height:120px;">
                </td>
                <td>
                    <form action="{{url_for('customer_new_order', customer_name=customer_name,
                        truck_username=truck_username, dish_name=dish['dish_name'], price=dish['price'])}}" method='post'>
                        <input type=number max="100" min="1" name="order_count" required>
                        <input type="submit" value="Order" class="operation">
                    </form>
                    <form action="{{url_for('customer_compare_price', customer_name=customer_name,
                        truck_username=truck_username, dish_name=dish['dish_name'])}}" method='post'>
                        <input type="submit" value="Compare Price" class="operation">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table><br>
    <a href="#top">Go to Top</a>
</div>
{% endblock %}