{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        div.dishes {
        width:200px;
        height:50px;
        overflow: scroll;
        }
        input.topButtons[type=submit] {
        font-size: 1em;
        font-family: Verdana, sans-serif;
        width:150px;
        height:40px;
        color: white;
        padding: 5px 10px;
        margin: 5px 10px;
        border-style: outset;
        border-color: #000;
        background: #64AAD0;

        }
        input.topButtons[type=submit]:hover{
        background: #034569;
        }

        th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #034569;
        color:white;
        width:200px;
        }

        td {
        text-align: center;
        border: 1px solid #ddd;
        }

    </style>
{% endblock %}
{% block body %}
<h1 align="center" id="top">{{title}}</h1>
<div align="center">
    <form action="{{url_for('customer_home', customer_name=customer_name)}}" method="get">
        <input type="submit" value="Back to Home" class="topButtons">
    </form><br>
    <table width="80%">

        <thead>
        <th>Start Time</th>
        <th>Finish Time</th>
        <th>Foodtruck</th>
        <th>Total Cost</th>
        <th>Dishes</th>
        </thead>
        {% if title == 'My Ongoing Orders' %}
            {% for order in finished %}
                <tr style="color:green;">
                    <td>{{order['start_time']}}</td>
                    <td>{{order['finish_time']}}</td>
                    <td>{{order['truck_username']}}</td>
                    <td>{{order['paid']}}</td>
                    <td><div class="dishes">{{order['dishes']}}</div></td>
                </tr>
            {% endfor %}
        {% endif %}
        {% for order in orders %}
            <tr>
                <td>{{order['start_time']}}</td>
                {% if title == 'My Ongoing Orders' %}
                    <td>order being processed</td>
                {% else %}
                    <td>{{order['finish_time']}}</td>
                {% endif %}
                <td>{{order['truck_username']}}</td>
                <td>{{order['paid']}}</td>
                <td><div class="dishes">{{order['dishes']}}</div></td>
            </tr>
        {% endfor %}

    </table><br>
    <a href="#top">Go to Top</a>
</div>
{% endblock %}